.bsk_room{
	display:inline-block;
	text-align: center;
}
.bsk_img{
	width: 220px;
    height: 155px;
}
.panel-bo2 textarea{
	width: 100%;
	height: 300px;
}
#form_ycz{
	display: none;
}
#form_xsz{
	border: 0px;
    background: #fff;
}
.form-grwin{
	width: 160px !important;
}
.form-grwi{
	width: 150px;
}
.form-grwi select{
	width: 100%;
}
.form-grem{
	display: -webkit-inline-box;
    width: 190px;
}
