.form-group-tcx{
	width: 300px;
}
.table_jwa{
	display: block;
	height: 30px;
    line-height: 30px;
}
.table_diva{
	text-align: center;
	display: -webkit-inline-box;
}
.table_diva input{
	height: 30px;
}
.jqGrid_wrapp_qx{
	padding: 5px 20px 5px;
}
.table_lis_anniu{
	margin-top: 10px;
}
.ht_andm{
	height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #f3f3f3;
}
.ht_andm span{
	display: -webkit-inline-box;
    width: 125px;
}
.ht_andm input{
	width: 14px;
    height: 35px;
    line-height: 35px;
    margin: 0px 2px 0px 0px;
}
.ht_an_div{
    display: inline-flex;
    margin-right: 10px;
}
.ht_an_din{
	width: 15px !important;
}
.ht_an_font{
    font-size: 14px;
    color: #000;
    font-weight: bold;
}
.float-e-border{
	padding: 15px;
}
.form-tc{
    border: 1px solid #e8e8e8;
    width: 345px;
    padding: 10px;
    border-radius: 3px;
    margin-left: -120px;
    left: -100px;
    top: -55px;
    position: relative;
    height: 55px;
    overflow-x: hidden;
    background: #fff;
}
.form-tc_f{
	border: 1px solid #e8e8e8;
    width: 345px;
    padding: 10px;
    border-radius: 3px;
    margin-left: 73px;
    position: fixed;
    height: 55px;
    overflow-x: hidden;
    background: #fff;
    right: 0px;
    top: -14px;
}
.tc_wsj{
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 35px;
    position: absolute;
    z-index: 0;
    color: #c5c5c5;
}
.tc_wsj_1{
    width: 324px;
    text-align: center;
    height: 40px;
    position: absolute;
    background: #fff;
    z-index: 3;
    color: #000;
}
.province_bod{
	width: 100%;
	padding: 15px;
    display: -webkit-inline-box;
}
.province_1{
    width: 33.33%;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    height: 425px;
    overflow-x: hidden;
}
.province_1::-webkit-scrollbar{
  display:none;
}
.province_top{
	background: #6f6f6f;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-bottom: 3px;
}
.province_nr{
	padding: 5px 20px;
	margin: 0px;
}
.province_jt{
	float: right;
}
.province_1 a{
	color: #6f6f6f;
}
.province_1 a:hover{
	background: #23b7e5;
	color: #FFFFFF;
	display: block;
}
#input_tc{
	position: absolute;
    background: #fff;
    right: 0;
    width: 201px;
    z-index: 9;
    border: 1px solid #cfdadd;
}
.inp_p{
	margin: 0px;
	padding: 5px 7px;
}
.province_tex{
	text-align: center;
}
