.left_tc{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000061;
    left: 0px;
    top: 0px;
    display: none;
}
.left_nr{
	background: #fff;
    height: 200px;
    margin: 20% 46%;
    width: 360px;
    padding: 15px;
    border-radius: 10px;
    line-height:36px;
    text-align: center;
}
