body{
	margin: 0px;
	padding: 0px;
}
.pho_red{
	color: red;
}
.pho_top{
	height: 45px;
	background: #1c2b36;
	color: #fff;
	text-align: center;
	line-height: 45px;
	font-size: 1.3em;
    border-bottom: 1px solid #19A9D5;
}
.pho_til{
	
	background-image: url("../img/banner.jpg");
	background-size: 100% 100%;
} 	
.pho_til_tx1{
	padding: 10px 10px 0px 10px;
	position: relative;
}
.pho_til_tx1 img{
	width: 100px;
	height: 100px;
    border-radius: 100px;
}
.pho_til_img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
    border: 1px solid #1c2b36;
    box-shadow: 0px 2px 4px #6f93e5;
}
.pho_til_tex{
	position: absolute;
    top: 12px;
    left: 115px;
    background: #f1c10e;
    color: #fff;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    padding:1px 10px 0px 10px;
    border-radius: 15px;
    font-size: 0.8em;
}
.pho_til_xx2{
	background: rgba(0,0,0,0.3);
	color: #fff;
    padding: 0px 40px;
    display: -webkit-box;
    font-size: 0.8em;
}
.xx2_p{
	width: 50%;
}
.pho_til_name{
	text-align: center;
    color: #fff;
    height: 35px;
    line-height: 35px;
	margin: 5px 0px;
}
.pho_til_name span{
	padding: 2px 15px;
    background: rgba(0, 0, 0, 0.48);
    border:1px solid #0a3188;
    border-radius: 6px;
    font-weight: bold;
}
.pho_bt{
	width: 100%;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #dad9e0;
}
.pho_bt p{
	padding: 0px;
	margin: 0px;
	font-size: 0.9em;
}
.pho_boy{
	width: 100%;
    display: -webkit-inline-box;
    text-align: center;
    border: 1px solid #ececef;
}
.pho_boy_im{
	width: 50%;
	border-left: 1px solid #ececef;
    padding: 10px 0px;
}
.pho_boy_im p{
	margin: 0px;
}
.pho_boy_im img{
	width: 30px;
}
.myModal3{
    background:#ff392f !important;
}
.myModal4{
    background:#31a515 !important;
}
.myModal2_t{
    background:rgba(0,0,0,0.7);
    position:fixed;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
}
.myModal3_t{
    background:rgba(0,0,0,0.7);
    position:fixed;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
}
.myModal3_t textarea{
    width: 100%;
    height:300px;
    text-align: left !important;
    padding: 10px;
}
.myModal4_t{
    background:rgba(0,0,0,0.7);
    position:fixed;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
}
/*个人信息页面*/
.per_boy{
	width: 100%;
	display: -webkit-inline-box;
}
.per_p{
    width: 74%;
    padding-top: 3%;
    font-size: 1em;
    line-height: 45px;
}
.per_r{
	text-align: right;
    width: 26% !important;
}
.per_p p{
    margin: 0px;
    margin-bottom: 5px;
    padding-left: 8%;
    background: #fff;
}
.per_r p{
    color: #000;
    font-weight: bold;
}
.per_p span{
	background: #19a9d5;
	color: #fff;
	padding: 0px 10px;
}
.age_boy{
	background: #f1f1f1;
}
#copy{
	margin-left: 10px;
}
.erw{
	width: 100%;
}
.erw p{
	padding: 10px 0px 0px 20px;
    margin: 0px;
}
.erwm img{
	width: 180px;
	height: 180px;
}
.erwm2 img {
	width: 300px;
	height: 300px;
}
.ewm_in input{
	width: 93%;
	height: 30px;
}
.ewm_te{
	text-align: center;
	font-size: 0.6em;
	color: red;
}
/*个人信息页面结束*/
/*收益*/
.pro_bod{
	width: 100%;
	height: auto;
	text-align: center;
	background: #fff;
}
.pro_tim img{
	width: 80px;
	height: 80px;
}
.pro_tim{
	width: 49.4%;
    border: 1px solid #f1f1f1;
    float: left;
    background: #fff;
}
.pro_tim2{
	border-right: 1px solid #f1f1f1;
}
.pro_b1{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    box-shadow: 0px 2px 3px -1px #efefef;
}
.pro_b1 p{
	margin: 15px 0px 10px 0px;
}
.pro_b1 p input{
	width:90px;
    border: 1px solid #eaeaea;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}
.pro_bin{
	width: 80px !important;
	background: #23b7e5;
	color: #fff;
}
.pro_anniu{
	margin: 0px !important;
}

.ui-jqgrid-labels{
    font-size: 0.7em;
    text-align: center;
}

.table-bordered{
	width: 100% !important;
	margin: 0px !important;
	padding: 0px !important;
}
.ui-jqgrid .ui-jqgrid-hbox{
	padding-right: 0px !important;
}

.ui-row-ltr{
	font-size: 0.7em;
}
.ui-jqgrid .ui-jqgrid-htable thead th{
	text-align: center;
    padding: 0px;
    height: 30px;
    line-height: 30px;
}
.ui-jqgrid tr.jqgrow td{
	padding:8px 0px;
}
.gohome{
	display: none;
}
.ui-jqgrid .ui-jqgrid-pager .ui-paging-pager{
	margin: 0px !important;
	padding: 0px !important;
}
.ui-jqgrid .ui-pg-selbox{
	display: none !important;
}
.ui-jqgrid .ui-jqgrid-bdiv{
	width: 100% !important;
}
.ui-jqgrid .ui-jqgrid-hdiv{
	width: 100% !important;
}
.ui-jqgrid .ui-jqgrid-view{
	width: 99.9% !important;
}
/*收益结束*/
/*提现*/
.wit_bod{
	width: 100%;
	line-height: 40px;
    padding-top: 15px;
}
.wit_bod p{
	padding: 0px  0px  0px  10px;
	margin: 0px;
}
.wit_bod input{
	padding: 7px;
    border: 1px solid #efefef;
    border-radius: 3px;
}
.wit_bod span{
	color: red;
}
.wit_tex{
	text-align: center;
}
.wit_tis{
	padding: 15px;
    background: #f5f5f5;
    color: red;
    text-indent: 2em;
    font-size: 0.8em;
    margin: 10px;
    line-height: 23px;
}
.wit_inp{
	text-align: center;
}
.wit_inp input{
	width: 80%;
	border: 1px solid #23b7e5;
	background: #23b7e5;
	color: #fff;
	padding: 8px;
    border-radius: 3px;
}
.wit_sel{
	border: 1px solid #efefef;
    padding: 5px;
    background: #fff;
    margin: 0px 0px 0px -7px;
    border-radius: 3px;
}
/*提现结束*/
/*钻石管理*/
.dia_zs{
    padding-left: 10px;
    margin: 7px 0px;
    background: #efefef;
    height: 35px;
    line-height: 35px;
    border-top: 1px solid #dcdcdc;
}
.dia_qis{
	padding:0px 10px;
    width: 94.7%;
    height: 80px;
}
.dia_qis p{
    border: 1px solid #efefef;
    padding: 3px 10px;
    margin: 5px;
    border-radius: 3px;
    width: 60px;
    text-align: center;
    float: left;
}
.dia_ye{
	padding: 10px 20px;
    background: #fbfbfb;
}
.dia_y2{
	border-bottom:1px solid #eaeaea;
	margin-top: 10px;
}
.dia_r{
	float: right;
	font-weight: bold;
	color: #e8690c;
}
.dia_fs{
    display: -webkit-box;
}
.dia_fs p{
	border: 1px solid #efefef;
    padding: 10px 0px;
    margin: 4px;
    width: 22.3%;
    text-align: center;
    border-radius: 3px;
}
.dia_dz{
    padding: 2px;
    width: 100%;
    height: 210px;
}
.dia_dz_y{
    text-align: center;
    border: 1px solid #f0f0f0;
    line-height: 17px;
    margin: 8px;
    width: 27%;
    float: left;
}
.dia_dz_y p{
	padding: 0px;
	margin: 0px;
}
.dia_zk{
	text-align: right;
    font-size: 0.7em;
    color: red;
    font-weight: bold;
}
.dia_sk{
    color: #ffa352;
    font-size: 0.4em;
}
.dia_dz_ts p{
    background:#ea2424 !important;
    color: #fff !important;
}
.pho_T{
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7)
}
.pho_T2{
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7)
}
.pho_T_nr{
	background: #fff;
    width: 87%;
    margin: 50% auto;
    padding: 15px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    text-align: center;
}
.pho_T_nr input{
	border: 0px;
    padding: 5px 25px;
    border-radius: 3px;
}
.pho_T_nr2{
	background: #fff;
    width: 87%;
    margin: 35% auto;
    padding: 15px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
}
.pho_T_nr2 table{
	width: 100%;
	text-align: center;
	border: 1px solid #ececec;
}
.pho_T_nr2 table th{
    text-align: center !important;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.pho_T_nr2 table td{
	height: 30px;
    line-height: 30px;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.pho_T_in2{
	text-align: center;
	margin: 17px 0px 0px 0px;
}
.pho_T_in2 input{
	border: 0px;
    padding: 4px 35px;
    border-radius: 3px;
}
.pho_T_nr p{
	margin: 0px;
	padding: 5px;
}
.pho_T_nr .pho_red{
	font-size: 0.7em;
}
.pho_sr{
	text-align: left;
    font-size: 0.7em;
    padding: 5px 5px 0px 5px;
}
.pho_int{
    width: 70%;
    border: 1px solid #e4e4e4 !important;
    text-align: center;
}
.T_qd{
	background: #23B7E5;
	color: #fff;
}
/*钻石管理结束*/
/*俱乐部*/
.clu_bod{
	border-bottom: 1px solid #F0F0F0;
}
.clu_bod p{
	padding: 0px 20px;
}
.cul_lb{
    margin: 10px 0px 0px 0px;
    background-color: white;
}
.clu_xq{
    width: 80%;
    background: #23b7e5;
    border-radius: 3px;
    color: #fff;
    padding: 5px 0px;
    margin: 0 auto;
}
.cul_dlb p{
	width: 25%;
    margin: 0px;
    padding:10px 0px;
    border-right: 1px solid #F0F0F0;
}
.cul_dlb{
	text-align: center;
    display: -webkit-box;
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0;
    margin-top: -1px;
}
.cul_dlb span{
	display: block;
}
.cul_bt{
	color: #a2a2a2;
    font-size: 0.8em;
    margin-bottom: 3px;
}
.cul_dlb a{
	text-decoration:none
}
.clu_yy{
    box-shadow: 0 2px 6px 1px #dadada;
}
.pro_b2{
	text-align: left !important;
    padding: 10px;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
}
.pro_b2 input{
	float: right;
	background: #fff;
}
.pho_jq{
	width: 100%;
	padding: 5px;
}
#pager_list_1_right{
	display: none;
}
.clu_dh{
	display: -webkit-box;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.clu_dh p{
	width: 25%;
    text-align: center;
    background: #23b7e5;
    color: #fff;
    padding: 13px 0px;
    margin: 0px;
    border: 1px solid #fff;
}
.clu_dh_yell{
	background: #f99c37 !important;
}
.clu_dh_red{
	background: #bd0404 !important;
}
.clu_hie{
	height: 50px;
	width: 10px;
}
.ibox-butz{
	text-align: center;
	margin-bottom: 5px;
}
.clu_Tc{
	margin: 50% 0px !important;
}
.wrapper .clu_wre{
	text-align: center;
}
.clu_sq{
	;
}
.clu_sq .clu_sq_p{
    padding: 10px;
    margin: 0px 0px 5px 0px;
    background: #fff;
    box-shadow: 0 1px 1px 2px #e2e2e2;	
}
.clu_sq_xx{
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 73px;
    background: #fff;
    box-shadow: 0px 2px 1px 0px #dadada;
    margin-top: 1px;
}
.clu_z{
	float: left;
	width: 70%;
}
.clu_z p{
	margin: 5px 0px 0px 20px;
    font-size: 0.8em;
}
.clu_y{
	float: right;
	width: 30%;
}
.clu_y p{
	margin: 0px;
    height: 36.5px;
    line-height: 36.5px;
    text-align: center;
    background:#23b7e5;
    color: #fff;
}
.clu_h{
	background: #d0d0d0 !important;
}
.pro_wit{
	padding-bottom: 10px;
}
/*俱乐部结束*/
/*二维码*/
.ewm_bod{
	text-align: center;    margin-top: 15px;
}
.ewm_bod img{
    border-radius: 65px;
    width: 100px;
    height: 100px;
}
.ewm_l{
	margin-right:-20px;
}
/*二维码结束*/