
.float-e-margins-2{
	margin: 16% auto;
    width: 50%;
}
.ibox-s-zj{
	text-align: center;
	padding: 15px;
	width: 100%;
}
.ibox-s-zte{
	padding: 15px;
	font-size: 15px;
	width: 100%;
}
.float-e-margins-3{
	width:445px;
}
.ibox-s-zj-1{
	padding: 30px 30px 0px 30px;
	line-height: 30px;
}
.ibox-s-zj-1 input{
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0px 10px;
}
.ibox-butz{
	padding-bottom: 10px;
}
.ibox-s-tc{
	text-align: left;
    padding: 35px;
}
.exchange{
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
}